@import url('https://fonts.googleapis.com/css?family=Shadows+Into+Light');


body {
    background: black;
    font-family: 'Shadows Into Light', cursive;
    color: #470303;
}
h1 {
    color:  #470303;
    text-align: center;
    height: 100px;
    width: 100%;
    line-height: 5;
}
#container {
    width: 80%;
    height: 20%;
    border-radius: 5px;
    padding: 10px;
    background: black;
    margin: 10% auto;
    text-align: center;
    font-size: 24px;
}


#letters a{ 
    color: black;
    padding: 0 8px 0;
    margin: 8% auto;
    border-radius: 9px;
    background-color: darkgray;
    color: #270202;
    text-decoration: none;
    cursor: pointer;
    white-space: nowrap;
    line-height: 1;
}


#letters a:hover{
    color: white;
    background-color:#270202;
}

#letters a:visited{
    background: yellowgreen;
}
#letters a:focus{
    background: yellowgreen;
}



#reset {
    color: #312828;
    background-color: black;
    border-color: black;
    font-size: 40px;
    padding: 9px;
    cursor: pointer;
    font-family: 'Shadows Into Light', cursive;
}

#reset2 {
    color: #312828;
    background-color: black;
    border-color: black;
    font-size: 40px;
    padding: 9px;
    cursor: pointer;
    font-family: 'Shadows Into Light', cursive;
}

#reset:hover{
    color: white;
}

#reset2:hover{
    color: white;
}

@media only screen and (max-width: 768px) {}